:host {
  display: block;
  width: 100%;
}

div {
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(255,255,255,0.08);
  border-radius: 8px;
  /* height: 100%; */
}

h2,h4,h5{
    margin: 6px 0;
}
:host div:hover {
  background: rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: background 0.3s ease;
}