:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.study-card {
  position: relative;
  flex: 1 1 0;
  background: var(--color-subpanel-child-dark);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.35s ease;
}

.study-card:not(.expanded):hover {
    /* background: rgba(47, 47, 145, 0.476); */
}

.text {
  position: absolute;
  inset: 0;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.35s ease, opacity 0.35s ease;
  overflow-y: hidden;
}

.text-secondary {
  transform: translateX(100%);
  opacity: 0;
  /* border: 3px solid rgba(54, 54, 174, 0.476);
  background: rgba(44, 44, 75, 0.476); */

  border-radius: 8px;

}

.study-card.expanded .text-primary {
  transform: translateX(-100%);
  opacity: 0;
}

.study-card.expanded .text-secondary {
  transform: translateX(0);
  opacity: 1;
}
