:host {
  display: block;
  width: 100%;
}

div {
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--color-subpanel-child-dark);
  border-radius: 8px;
  flex: 1;
  overflow: hidden; /* IMPORTANTE para animación */
  position: relative; /* para posicionar los textos */
}

/* ———————————— */
/* ANIMACIÓN SOLO CSS */
/* ———————————— */

/* Ambos textos se apilan uno sobre otro */
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  transition: all 0.35s ease;
}
.text:hover{
  background: rgba(255, 255, 255, 0.08);
}
/* Texto nuevo oculto inicialmente */
.text-secondary {
  transform: translateX(100%);
  opacity: 0;
  height: 78%;
}

/* Estado expandido (cuando se hace click) */
div.expanded .text-primary {
  transform: translateX(-100%);
  opacity: 0;
}

div.expanded .text-secondary {
  transform: translateX(0);
  opacity: 1;
  border: 3px solid blue;
}
