:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.study-card {
  position: relative;
  flex: 1 1 0;
  background: var(--color-subpanel-child-dark);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.06),
    0 6px 14px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.35s ease;
}

.study-card:not(.expanded):hover {
  background: rgba(47, 47, 145, 0.476);
  box-shadow: 0 0 0 2px rgb(34, 57, 185),
     0 0 34px rgba(29, 8, 189, 0.825);
}

.text {
  position: absolute;
  inset: 0;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.35s ease, opacity 0.35s ease;
  overflow-y: hidden;
}

.text-secondary {
  transform: translateX(100%);
  opacity: 0;
  border-radius: 8px;

}

.study-card.expanded .text-primary {
  transform: translateX(-100%);
  opacity: 0;
}

.study-card.expanded .text-secondary {
  transform: translateX(0);
  opacity: 1;
}

.study-card.expanded {
  box-shadow: 0 0 0 2px rgb(34, 57, 185),
     0 0 17px rgba(29, 8, 189, 0.825);
  background: rgba(47, 47, 145, 0.476);
}
