.card {
    position: relative;
    width: 100%;
    height: 80%;
    cursor: pointer;
    border-radius: 35px;
    transform: translate(0%, 0%) scale(.5);
    transition: transform .5s ease;
}

.borde {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 0, 1% 0, 50% 49%, 99% 0, 100% 0, 50% 50%);
    z-index: 4;
}

.cuerpo-sobre {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-card);
    border-radius: 35px;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%, 0 100%, 0 0%);
    z-index: 2;
}

.sello {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease, opacity 0.3s ease;
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sello img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* o cover si quieres que rellene */
    border-radius: 50%;
    pointer-events: none;
}

.solapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-card);
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 0.6s ease;
    z-index: 2;
    border-radius: 35px;
}

.interior {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 35px;
}

.papel {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: var(--color-paper-card);
    border-radius: 3px;
    box-shadow: 0 14px 50px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition:
        transform 0.6s ease,
        height 0.6s ease,
        opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.texto-carta {
    position: relative;
    z-index: 1;
    color: black;
    padding: 40px;

}


.contenido-carta {
    position: relative;
    max-height: 100%;
    overflow-y: auto;
}

.marca-agua {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.12;
    z-index: 0;
    pointer-events: none;
    top: 5%;
}
.linea-hornamental{
    width: 100%;
    height: 50%;
    z-index: 0;
    pointer-events: none;
}
.linea-hornamental-inferior{
    width: 100%;
    height: 50%;
    z-index: 0;
    pointer-events: none;
}
.despedida {
    margin-top: 1.5rem;

}

.firma {
    margin-top: 6.7rem;
    text-align: right;
}
.card.abierta .solapa {
    transform: rotateX(180deg);
    z-index: 0;
}

.card:not(.abierta) .solapa {
    animation: solapa-subir-z 0.6s forwards;
}

/* .card.abierta .sello{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
} */
.card.abierta .papel {
    height: 160%;
    transform: translateY(-40%);
    transition-delay: 0.4s;
    opacity: 1;
}

.card.abierta {
    transform: translate(0%, 110%);
}
p{
    font-family: var(--font-ui-accent);
}
@keyframes solapa-subir-z {
    0% {
        z-index: 1;
    }

    99% {
        z-index: 1;
    }

    100% {
        z-index: 3;
    }
}