
.card{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: rgb(237, 237, 237);
    cursor: pointer;
    /* overflow: hidden; */
    transform: translate(0%,0%);
    transition: transform .5s ease;
}
.borde {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0 0, 1% 0, 50% 49%, 99% 0, 100% 0, 50% 50%);
    z-index: 4;
}
.cuerpo-sobre{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(219, 217, 217);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 100% 0%, 100% 100%, 0 100%, 0 0%);
    z-index: 2;
}
.sello{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: crimson;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease, opacity 0.3s ease;
    z-index: 4;
}

.solapa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 217, 217);
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    transform-origin: top center;
    transform: rotateX(0deg);
    transition: transform 0.6s ease;
    z-index: 2;
    border-radius: 15px;
}

.interior{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-color: black;
    /* clip-path: polygon(0 0, 50% 50%, 100% 0); */
    /* transform: translateY(1%);
    z-index: 0; */
}
.papel{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
    box-shadow: 0 14px 50px rgba(0,0,0,.2);

    transition: transform 0.6s ease;
    transition: height 0.6s ease;
    z-index: 1;
    /* visibility: hidden; */
}

.card.abierta .solapa{
    transform: rotateX(180deg);
    z-index: 0;
}

.card.abierta .sello{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
.card.abierta .papel{
    height: 160%;
    transform: translateY(-20%);
    transition-delay: 0.4s;
    visibility: visible;
}
.card.abierta{
    transform: translate(0%,90%);
}