.about-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2vmin; /* separación natural */
}

/* Título */
.title {
    font-size: 2rem;
}

/* Zona central (app-card, app-personal-info, etc.) */
.content {
    width: 95vmin;     /* aquí mandas tú */
    height: 50vmin;    /* aquí mandas tú */

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Para que los componentes ocupen el contenedor */
.content > * {
    width: 100%;
    height: 100%;
}

/* Botones */
.buttons {
    display: flex;
    gap: 1rem;
}
