<div class="about-container">
    <div class="title">
        {{ title }}
    </div>

    <div class="content">
        <app-personal-info class="correct-translate" *ngIf="content === 'personal-info'"></app-personal-info>
        <app-card *ngIf="content === 'card'"></app-card>
        <app-curriculum class="correct-translate" *ngIf="content === 'curriculum'"></app-curriculum>
    </div>

    <div class="buttons">
        <button (click)="previous()">&larr;</button>
        <button (click)="next()">&rarr;</button>
    </div>
</div>
