<div class="about-container">
    <!-- <div class="title">{{ title }}</div> -->

    <div class="content-container">
        <div class="content">
            <app-personal-info class="correct-translate" *ngIf="content === 'personal-info'"></app-personal-info>
            <app-card *ngIf="content === 'card'"></app-card>
            <app-curriculum class="correct-translate" *ngIf="content === 'curriculum'"></app-curriculum>
        </div>
        <div class="buttons">
            <button (click)="previous()"><img src="assets/FlechaIzquierda.png" alt="Anterior"></button>
            <div class="title">{{ title }}</div>
            <button (click)="downloadCV()"><img src="assets/Download.png" alt="Descargar"></button>
            <button (click)="next()"><img src="assets/FlechaDerecha.png" alt="Siguiente"></button>
        </div>
    </div>

</div>
