<div class="info-container">
    <div class="padre">
        <div class="decoration-line"></div>
        <div class="business-card">
            <div class="profile">
                <img src="assets/FotoPerfil.png" alt="Foto de Felipe Izquierdo Romero">
            </div>
            <div class="info">
                <h1>Felipe Izquierdo Romero</h1>
                <h2>Software Developer</h2>
    
                <ul class="contact">
                    <li>📍 Paseo del Higueral 6, Fuenlabrada, Madrid</li>
                    <li>✉️ felipe.iz.ro.98&#64;gmail.com</li>
                    <li>🔗 linkedin.com/in/tu-perfil</li>
                    <li>📞 646 684 855</li>
                </ul>
            </div>
        </div>
        <div class="decoration-line"></div>
    </div>
</div>