.info-container {
    width: 100%;
    height: 100%;
}
.padre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: #ffffff;
    border-radius: 35px;
    flex-direction: column;
}
.business-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: #ffffff;
    border-radius: 35px;
}

/* Foto */
.profile img {
    width: 23vmin;
    height: 23vmin;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e5e5e5;
}
/* Texto */
.info h1 {
    color: black;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.info h2 {
    font-family: var(--font-body);
    margin: 0.2rem 0 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: #666;
}

/* Contacto */
.contact {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    color: #333;
}

.contact li {
    margin-bottom: 0.4rem;
}
.decoration-line{
    width: 100%;
    height: 20px;
    background: rgb(237, 200, 136);
}