:host {
  display: block;
  min-height: 100dvh;
}

.viewport-wrapper {
  --viewport-padding: clamp(12px, 3vw, 32px);

  min-height: 100dvh;
  width: 100%;

  display: grid;
  place-items: center;
  padding: 0;
  box-sizing: border-box;
}
