/* Contenedor principal */
.stage {
    position: fixed;
    inset: 0;

    display: grid;
    place-items: center;

    background: transparent;
}

.cluster {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 10;

    transition: transform 1.5s cubic-bezier(.22, 1, .36, 1);
}

.cluster.shift-right {
    transform: translate(calc(-50% - 600px), -50%) scale(.6);
}

.cluster.shift-left {
    transform: translate(calc(-50% + 600px), -50%) scale(.6);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 220px;
    height: 220px;

    border-radius: 40px;
    background: black;

    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.4s ease;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 720px;
    height: 720px;
    border-radius: 60px;

    background: rgb(38, 116, 184);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 20px; */

    background: transparent;
    padding: 30px;

    transform: translate(-50%, -50%) scale(.2) translateZ(0);
    transition: transform 0.4s ease;

    will-change: transform;
}

.box:hover {
    transform: translate(-50%, -50%) scale(2);
}

.cluster:hover .box {
    transform: translate(-50%, -50%) scale(2);
}

.cluster:hover .item {
    transform: translate(-50%, -50%) scale(1);
}

.cell {
    position: relative;
    font-family: var(--font-title);
    font-weight:bold;
    background-size: 100% 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.cell::before {
    content: '';
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.45); /* 👈 sombra inicial */
    transition: background 0.3s ease;

    z-index: 1;
}
.cell:hover::before {
    background: rgba(0, 0, 0, 0.1);
}
.cell-title {
    position: absolute;
    z-index: 2;

    left: 0;
    right: 0;

    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-size: 50px;
    pointer-events: none;
}


.c3 .cell-title,
.c4 .cell-title {
    top: auto;
    bottom: 40px;
    transform: none;
}

.c1 .cell-title,
.c2 .cell-title {
    top: 40px;
    bottom: auto;
    transform: none;
}

/* Colores */
.c1 {
    background-image: url('../../../../assets/SobreMi.jpg');
    border-radius: 20px 0;
}

.c2 {
    background-image: url('../../../../assets/Estudios.jpg');
    border-radius: 0 20px;
}

.c3 {
    background-image: url('../../../../assets/Experiencia.jpg');
    border-radius: 0 20px;
}

.c4 {
    background-image: url('../../../../assets/Contacto.png');
    border-radius: 20px 0;
}