<div class="grid">
  <div class="wrap" [ngClass]="{ 
    'is-open-about': activeTab === 'about', 
    'is-open-skills': activeTab === 'skills',
    'is-open-projects': activeTab === 'projects',
    'is-open-contact': activeTab === 'contact'
    }">

    <!-- Ariba izquierda  -->
    <a class="top-span" (click)="openTab('about')">
      <div></div>
      <span>About</span>
    </a>

    <!-- Ariba derecha  -->
    <a class="top-span" (click)="openTab('skills')">
      <div></div>
      <span>Skills</span>
    </a>

    <!-- Abajo izquierda  -->
    <a class="down-span" (click)="openTab('projects')">
      <div></div>
      <span>Projects</span>
    </a>

    <!-- Ariba derecha -->
    <a class="down-span" (click)="openTab('contact')">
      <div></div>
      <span>Contact</span>
    </a>

    <!-- Etiqueta central -->
    <a>
      <div></div>
    </a>

    <span class="avatar"></span>
  </div>
</div>
