.stage {

    position: fixed;
    inset: 0;

    display: grid;
    place-items: center;

    transition: background 0.8s ease;
    background-size: cover;
    background-position: center;

}

/* Secciones */
.stage.about {
    background-image: url('../../../../assets/SobreMi.jpg');
}

.stage.studies {
    background-image: url('../../../../assets/Estudios.jpg');
}

.stage.experience {
    background-image: url('../../../../assets/Experiencia.jpg');
}

.stage.contact {
    background-image: url('../../../../assets/Contacto.png');
}

.cluster {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 10;

    transition: transform 1.5s cubic-bezier(.22, 1, .36, 1);

}

.cluster.shift-right {
    transform: translate(-92vmin, -15vmin) scale(.6);
}

.cluster.shift-left {
    transform: translate(63vmin, -15vmin) scale(.6);
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 95vmin;
    height: 95vmin;
    border-radius: 60px;

    background: rgb(38, 116, 184);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 20px; */

    background: transparent;
    padding: 30px;

    transform: translate(-50%, -50%) scale(.7) translateZ(0);
    transition: transform 0.4s ease;

    will-change: transform;
}

.cluster:hover .item {
    transform: translate(-50%, -50%) scale(1);
}

.cell {
    position: relative;
    font-family: var(--font-title);
    font-weight: bold;
    background-size: 100% 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(37, 37, 37, 0.938);
}

.cell::before {
    content: '';
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.65);
    /* 👈 sombra inicial */
    transition: background 0.3s ease;

    z-index: 1;
}

.cell:hover::before {
    background: rgba(0, 0, 0, 0.1);
}
.cell.current-section::before {
    background: rgba(0, 0, 0, 0.1);
}

.cell-title {
    position: absolute;
    z-index: 2;

    left: 0;
    right: 0;

    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-size: 7vmin;
    pointer-events: none;
}


.c3 .cell-title,
.c4 .cell-title {
    top: auto;
    bottom: 40px;
    transform: none;
}

.c1 .cell-title,
.c2 .cell-title {
    top: 40px;
    bottom: auto;
    transform: none;
}

/* Colores */
.c1 {
    background-image: url('../../../../assets/SobreMi.jpg');
    border-radius: 20px 0;
    border-width: 5px 1px 1px 5px; 
}

.c2 {
    background-image: url('../../../../assets/Estudios.jpg');
    border-radius: 0 20px;
    border-width: 5px 5px 1px 1px; 
}

.c3 {
    background-image: url('../../../../assets/Experiencia.jpg');
    border-radius: 0 20px;
    border-width: 1px 1px 5px 5px; 
}

.c4 {
    background-image: url('../../../../assets/Contacto.png');
    border-radius: 20px 0;
    border-width: 1px 5px 5px 1px; 
}

.clock {
    z-index: 2;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    background: #222;
    overflow: hidden;
    justify-items: center;

}

.clock.hidden .trail {
    opacity: 0;
}

.clock.hidden .hand {
    opacity: 0;
}



/* ESTELA */
.trail {
    position: absolute;
    inset: -50%;
    border-radius: 50%;

    background: conic-gradient(
            from 0deg,
            rgb(0, 0, 0) 0deg,
            rgb(48, 48, 48) 360deg);

    transform: rotate(var(--angle));
}
.clock-text{
    position: absolute;
    color: white;
    z-index: 4;
    top: 35%;
    text-align: center;
    /* top: 40%;
    left: 25%; */
    font-family: var(--font-title);
    font-size: 30px;
}
.rotator {
    position: absolute;
    inset: 0;
    transform: rotate(var(--angle));
}


.hand {
    position: absolute;
    width: 2px;
    height: 150%;
    background: rgba(109, 109, 109);

    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
}