<div class="stage" [ngClass]="currentSection">
  <div class="cluster" [class.shift-left]="activeTab === 'about' || activeTab === 'experience'"
    [class.shift-right]="activeTab === 'contact' || activeTab === 'studies'">

    <div class="clock" [class.hidden]="activeTab !== null" [style.--angle]="angle + 'deg'">
      <div class="inner-clock">
        <div class="clock-text"><span>{{clockText}}</span></div>
      </div>
      <div class="trail"></div>
      <div class="rotator">
        <div class="hand"></div>
      </div>
    </div>

    <div class="item">
      <div class="cell c1" [class.current-section]="visibleSection === 'about'" (click)="openTab('about')"><span class="cell-title">SOBRE MI</span></div>
      <div class="cell c2" [class.current-section]="visibleSection === 'studies'" (click)="openTab('studies')"><span class="cell-title">ESTUDIOS</span></div>
      <div class="cell c3" [class.current-section]="visibleSection === 'experience'" (click)="openTab('experience')"><span class="cell-title">EXPERIENCIA</span></div>
      <div class="cell c4" [class.current-section]="visibleSection === 'contact'" (click)="openTab('contact')"><span class="cell-title">CONTACTO</span></div>
    </div>
  </div>

  <app-left-panel [visible]="activeTab === 'about'|| activeTab ==='experience'" [activeTab]="activeTab?.valueOf()"
    [pathImg]="getImagePath()" (close)="closeTab()">
  </app-left-panel>

  <app-right-panel [visible]="activeTab === 'studies'|| activeTab ==='contact'" [activeTab]="activeTab?.valueOf()"
    (close)="closeTab()" [pathImg]="getImagePath()">
  </app-right-panel>
</div>