/* Contenedor principal */
.stage {
    position: fixed;
    inset: 0;

    display: grid;
    place-items: center;

    background: transparent;
}

.cluster {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 10;

  transition: transform 1.5s cubic-bezier(.22,1,.36,1);
}

.cluster.shift-right {
  transform: translate(calc(-50% - 600px), -50%);
}

.cluster.shift-left {
  transform: translate(calc(-50% + 600px), -50%);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120px;
    height: 120px;

    border-radius: 40px;
    background: black;

    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.4s ease;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 420px;
    height: 420px;
    border-radius: 60px;

    background: rgb(38, 116, 184);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 20px; */

    background: transparent;
    padding: 30px;

    transform: translate(-50%, -50%) scale(.2) translateZ(0);
    transition: transform 0.4s ease;

    will-change: transform;
}

.box:hover {
    transform: translate(-50%, -50%) scale(2);
}

.cluster:hover .box {
  transform: translate(-50%, -50%) scale(2);
}

.cluster:hover .item {
  transform: translate(-50%, -50%) scale(1);
}

.cell {
    background-size: 100% 100%;
}

/* Colores */
.c1 {
    background-image: url('../../../../assets/SobreMi.jpg');
    border-radius: 20px 0;
}

.c2 {
    background-image: url('../../../../assets/Estudios.jpg');
    border-radius: 0 20px;
}

.c3 {
    background-image: url('../../../../assets/Experiencia.jpg');
    border-radius: 0 20px;
}

.c4 {
    background-image: url('../../../../assets/Contacto.jpg');
    border-radius: 20px 0;
}