<div class="grid">
  <div class="wrap" [ngClass]="{ 
    'is-open-about': activeTab === 'about', 
    'is-open-studies': activeTab === 'studies',
    'is-open-projects': activeTab === 'projects',
    'is-open-contact': activeTab === 'contact'
    }">

    <!-- Ariba izquierda  -->
    <a class="top-span" (click)="openTab('about')" 
    (mouseover)="focusTab('about')" 
    (mouseout)="focusTab(null)"
    [style.--halo-opacity]="focusedTab === 'about' ? 0.35 : 0.65">
      <div></div>
      <span>About</span>
    </a>

    <!-- Ariba derecha  -->
    <a class="top-span" (click)="openTab('studies')"
    (mouseover)="focusTab('studies')" 
    (mouseout)="focusTab(null)"
    [style.--halo-opacity]="focusedTab === 'studies' ? 0.35 : 0.65">
      <div></div>
      <span>Studies</span>
    </a>

    <!-- Abajo izquierda  -->
    <a class="down-span" (click)="openTab('projects')"
    (mouseover)="focusTab('projects')" 
    (mouseout)="focusTab(null)"
    [style.--halo-opacity]="focusedTab === 'projects' ? 0.35 : 0.65">
      <div></div>
      <span>Projects</span>
    </a>

    <!-- Ariba derecha -->
    <a class="down-span" (click)="openTab('contact')"
    (mouseover)="focusTab('contact')" 
    (mouseout)="focusTab(null)"
    [style.--halo-opacity]="focusedTab === 'contact' ? 0.35 : 0.65">
      <div></div>
      <span>Contact</span>
    </a>

    <!-- Etiqueta central -->
    <a>
      <div></div>
    </a>

    <span class="avatar"></span>
  </div>
</div>
