.tab-panel {
  position: fixed;
  top: 0;
  right: 0;                    
  left: auto;                  
  height: 100vh;
  width: 70vw;                 
  background: var(--color-panel-dark);
  color: #f5f5f5;
  box-shadow: -8px 0 30px rgba(0, 0, 0, 0.45); 
  transform: translateX(100%); 
  transition: transform 1s ease;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.tab-image{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;                    
  right: auto;                  
  height: 100vh;
  width: 30vw;                
  color: #f5f5f5;
  box-shadow: -8px 0 30px rgba(0, 0, 0, 0.45); 
  transform: translateX(500%); 
  transition: transform 1s ease;
  z-index: 5;
  display: flex;
  align-items: center;
  /* background-size: cover; */
  background-size: 170% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.tab-image.is-visible{
  visibility: visible;
  transform: translate(0);
}
.tab-panel.is-visible {
  transform: translateX(0);    /* 👈 entra hacia el centro */
}

.tab-panel-inner {
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  background: transparent;
  color: #f5f5f5;
  font-size: 1.8rem;
  cursor: pointer;
}

.tab-panel h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.tab-panel p {
  font-size: 1.05rem;
  line-height: 1.6;
  max-width: 32rem;
}

.studies-wrapper{
  width: 100%;
  height: 100%;
  background: var(--color-subpanel-dark); 
  padding: 1.5rem;
  border-radius: 12px;  /* 👈 aquí tu border radius */
  box-sizing: border-box;
  display: flex;         /* 👈 hacemos flex vertical */
  flex-direction: column;
  min-height: min-content;
  overflow: hidden;
}