:root {
    --color-panel-dark:rgba(15, 15, 20, 0.98);
    --color-subpanel-dark:rgb(34, 34, 34);
    --color-subpanel-child-dark:rgb(59, 59, 59);

    --color-selected-dark:rgb(98, 98, 98);
}
p{
    font-size: 18px;
}
h2, h4, h5 {
  margin: 6px 0;
}