<div class="experience-wrapper">

  <!-- MENÚ INICIAL -->
  <ng-container *ngIf="view === 'menu'">
    <div class="experience-card experience" (click)="selectView('experience')">
      <h2>Experiencia laboral</h2>
      <p>Trayectoria profesional y proyectos destacados.</p>
    </div>

    <div class="experience-card technologies" (click)="selectView('technologies')">
      <h2>Tecnologías especializadas</h2>
      <p>Stack técnico y herramientas utilizadas.</p>
    </div>
  </ng-container>

  <!-- VISTA EXPERIENCIA -->
  <ng-container *ngIf="view === 'experience'">
    <div class="experience-detail">

      <button class="back-btn" (click)="selectView('menu')">← Volver</button>

      <!-- <h2>Experiencia laboral</h2> -->

      <div class="detail-scroll">

        <!-- INDRA -->
        <div class="detail-panel">
            <div class="detail-header">
                <h3>Desarrollador Full-Stack</h3>
                <h3>Indra Sistemas</h3>
                <h4>Octubre 2024 - ACTUALMENTE</h4>
            </div>
            <div class="detail-content">
                <p>
                    El proyecto en el que actualmente trabajo es un sistema de mando y control,
                    encargado de gestionar recursos, publicar instrucciones y llevar un seguimiento de las acciones.
                    Ademas de comunicarse con otras plataformas con objetivos similares a nuestro sistema.
                    
                    Los desarrollos principales en los que he trabajado han sido:
                    
                    La migracion de la aplicación de Windows a Linux y Android.
                    
                    Integración en el nuevas tecnologías y desarrollado un nuevo frontal más dinámico y 
                    con apariencia mas moderna usando Angular.
                    
                    Implementar nuevas funcionalidades en un sistema programado en Java con mas de 15 años y consolidado.
                    Sin quebrar el funcionamiento de los sistemas ya 
                    existentes y otros que estan en desarrollo y comparten servicios en común.
                </p>
            </div>
        </div>

        <!-- MERCANZA -->
        <div class="detail-panel">
            <div class="detail-header">
                <h3>Desarrollador Full-Stack</h3>
                <h3>Mercanza</h3>
                <h4>Septiembre 2023 - Diciembre 2023</h4>
            </div>
            <div class="detail-content">
                <p>
                    Los proyectos en los que trabajé eran encargados de llevar el tratamiento 
                    de datos personales y de negocio de diversas empresas con sus empleados o clientes.
                    
                    Estos proyectos usaban diferentes tecnologías pero en los que mas desarrollé
                    usaban Angular y .NET con C#.
    
                    En estas aplicaciones web realicé sobre todo tareas
                    de resolución de incidencias, correción de componentes de interfaz gráfica y
                    optimización de consultas a APIs y Bases de datos relaccionales.
                </p>
            </div>
        </div>
      </div>

    </div>
  </ng-container>
  
  <!-- VISTA TECNOLOGIA -->
  <ng-container *ngIf="view === 'technologies'">
    <div class="experience-detail">

      <button class="back-btn" (click)="selectView('menu')">← Volver</button>

      <h2>Tecnologías especializadas</h2>

      <div class="detail-scroll">
        <p>
          Especializado en Java con gran conocimiento de gestion 
          multihilo 
          <br /><br />
          Conocimientos en typescript y angular
        </p>
      </div>

    </div>
  </ng-container>

</div>
