.experience-wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  align-items: anchor-center;
}

/* Tarjetas base */
.experience-card {
  flex: 1;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
  transition: all 0.35s ease;
  position: relative;
}

/* Hover elegante */
.experience-card:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateY(-6px);
}

/* Títulos */
.experience-card h2 {
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Texto */
.experience-card p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.85;
}

/* Diferenciación visual sutil */
.experience-card.experience {
  border-left: 4px solid #6aa9ff;
}

.experience-card.technologies {
  border-left: 4px solid #7dffb3;
}

/* Vista detalle */
.experience-detail {
  width: 100%;
  height: 100%;
  align-content: center;
  position: relative;
}

/* Botón volver */
.back-btn {
  background: none;
  border: none;
  color: #6aa9ff;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  position: absolute;
  top: 0;
}

.accordion-btn {
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  border: none;
  background: url('/assets/mas.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: background 0.7s cubic-bezier(0.18, 0, 1, 0.79)
}

.accordion-btn.open {
  background-image: url('/assets/menos.png');
  transition: background 0.2s cubic-bezier(0.18, 0, 1, 0.79)
}

/* Contenedor con scroll */
.detail-scroll {
  max-height: 320px;
  overflow-y: auto;
  padding-right: 0.75rem;
}

/* Scroll elegante */
.detail-scroll::-webkit-scrollbar {
  width: 6px;
}

.detail-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}
.detail-panel{
  background-color: var(--color-subpanel-dark);
  margin: 40px 0;
}
.detail-header{
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
  background-color: var(--color-subpanel-child-dark);
  border-radius: 8px;
  transition: background 0.2s ease;
}
.detail-header:hover {
  background: var(--color-selected-dark);
}

.detail-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.11, 0.37, 0.17, 0.72);
}

.detail-content.open {
  max-height: 500px;
  transition: max-height 1.0s ease-in; 
}

.detail-inner {
  padding: 1rem;
}
