.detail-panel{
  background-color: var(--color-subpanel-dark);
  margin: 40px 0;
  border-radius: 8px;
}
.detail-header.open{
  box-shadow: 0 0 0 2px rgb(34, 57, 185),
     0 0 17px rgba(29, 8, 189, 0.825);
  background: rgba(47, 47, 145, 0.476);
  
}
.detail-header{
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
  background-color: var(--color-subpanel-child-dark);
  border-radius: 8px;
  transition: background 0.2s ease;
}
.detail-header:hover {
  background: rgba(47, 47, 145, 0.476);
  box-shadow: 0 0 0 2px rgb(34, 57, 185),
     0 0 34px rgba(29, 8, 189, 0.825);
}

.detail-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.11, 0.37, 0.17, 0.72);
  border-radius: 0 0 8px 8px;

}

.detail-content.open {
  max-height: 500px;
  transition: max-height 1.0s ease-in; 
}

.detail-inner {
  padding: 1rem;
  background: rgba(47, 47, 145, 0.476);
  box-shadow: 0 0 0 2px rgb(34, 57, 185),
     0 0 34px rgba(29, 8, 189, 0.825);
}
.accordion-btn {
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
  border: none;
  background: url('../../../../assets//mas.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  transition: background 0.7s cubic-bezier(0.18, 0, 1, 0.79)
}

.accordion-btn.open {
  background-image: url('../../../../assets//menos.png');
  transition: background 0.2s cubic-bezier(0.18, 0, 1, 0.79)
}